* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .container {
    margin: 1rem;
    text-align: center;
  }
  
  .nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
  }
  
  .site-title {
    font-size: 2rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
  }
  
  .nav li.active {
    background-color: #555;
  }
  
  .nav li:hover {
    background-color: #777;
  }

  .input-box {
    background-color: #4e4444;
    height: 40px;
    width: 300px;
    color: white;
  }
  
  .input-span {
    display: flex;
    width: 700px;
    justify-content: space-around;
    align-content: space-evenly;
  }

  .Snowflake {
    display: inline-block;
    width: 0.1%;
    color: #ffffff;
    opacity: 0;
    font-size: 120px;
    margin: 0;
    padding: 0;
    animation: fall 10s linear infinite;
  }
  
  @keyframes fall {
    0% {
      opacity: 0;
    }
    3% {
      opacity: 0.9;
    }
  
    90% {
      opacity: 0.9;
    }
    100% {
      transform: translate(0, 97vh);
      opacity: 0;
    }
  }

  .Snow{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 90vh;
  }